name: Docker Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]

    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-latest' || 'ubuntu-24.04-arm' }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx (need change driver on ARM64)
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.version }}
          push: true
          tags: brighterly/terraform-gcp:latest-${{ matrix.arch }}
          cache-from: type=gha,scope=latest-${{ matrix.arch }}
          cache-to: type=gha,mode=max,scope=latest-${{ matrix.arch }}

  merge-images:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create and Push Merged Image
        run: |
          docker buildx imagetools create -t brighterly/terraform-gcp:latest \
            brighterly/terraform-gcp:latest-amd64 \
            brighterly/terraform-gcp:latest-arm64
